@import "../../styles/variables";

.aboutSection {
  .mainSection {
    position: relative;
    overflow: hidden;
    background-image: url("../../public/background/about-background.png");
    background-size: cover;
    min-height: unset;
    .headerWrapper {
      padding-top: 50px;
      padding-bottom: 50px;
      .header {
        font-weight: 600;
        font-size: 110px;
        line-height: 135px;
        text-transform: uppercase;
      }
    }
  }
  .secondSection {
    display: flex;
    justify-content: center;
    align-items: center;
    .about {
      font-weight: 500;
      font-size: 20px;
      line-height: 36px;
      color: #838181;
      padding: 32px 0;
    }
    .sectionImage {
      display: block;
    }

    .visionMission {
      margin-bottom: 10px;
      .open {
        color: #1c1d1f;
        margin-left: 10px;
      }
      .close {
        color: #838181;
        margin-left: 10px;
      }

      .body {
        border-top: 2px solid #d2d2d2;
        margin-top: 10px;
        padding-top: 10px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .aboutSection {
    .secondSection {
      .sectionImage {
        display: none;
      }
    }
  }
}

@media (max-width: 425px) {
  .aboutSection {
    .mainSection {
      .headerWrapper {
        .header {
          font-weight: 600;
          font-size: 70px;
          line-height: 105px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .aboutSection {
    .mainSection {
      .headerWrapper {
        padding-top: 200px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .aboutSection {
    .mainSection {
      min-height: 800px;
    }
  }
}
