.donorSection {
  .donor {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .donorImage {
      width: 200px;
    }
  }
}

@media (max-width: 425px) {
  .donorSection {
    .donor {
      margin-top: 50px;
      margin-bottom: 50px;
      .donorImage {
        width: 200px;
      }
    }
  }
}
