$black: #000;
$white: #fff;
$dimgrey: #696969;
$background-grey: #f8f9fa;
$whitesmoke: #f5f5f5;
$blufin-blue: #329af7;
$secondary-font: "Bebas Neue", sans-serif;
$card-radius: 8px;
$card-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
$black-overlay: rgba(19, 16, 16, 0.58);
