@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import "./variables";

body {
  font-family: "Poppins", sans-serif;
}

// Brand styling
img.blufin-brand-logo {
  width: 4rem;
  height: intrinsic;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $blufin-bold-black;
  position: relative;
}

.nav-link:hover {
  color: $blufin-dark-blue !important;
}

.bf-nav-link:hover::before {
  content: "";
  position: absolute;
  width: 45%;
  height: 1px;
  bottom: 0.5rem;
  left: 16px;
  border-bottom: 2px solid $blufin-dark-blue;
}

.nav-link.active {
  color: $blufin-dark-blue !important;
  position: relative;
}

.active:before {
  content: "";
  position: absolute;
  width: 45%;
  height: 1px;
  bottom: 0.5rem;
  left: 16px;
  border-bottom: 2px solid $blufin-dark-blue;
}

@media (max-width: 768px) {
  .nav-link.active {
    color: $blufin-dark-blue !important;
    position: relative;
    text-decoration: underline;
  }

  .active:before {
    border-bottom: unset;
  }
}

.modal-content {
  position: relative;
  border-radius: 0;
}

.blue-background {
  background: #012060;
}
